<div class="container row">
      <div class="col-md-12">
          <h1>Upload Image</h1>
      </div>
  </div>
  <div class="container row"> 
      <div class="col-md-6">
          <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class="col-md-6">
          <input type="button" (click)="onUpload()" value="upload">
      </div>
  </div>
  <hr />
  <div class="container row">
      <div class="col-md-12">
          <div *ngIf=isUploading>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <div *ngIf=message class="alert alert-success" role="alert">
             {{message}}
          </div>
          <div *ngIf=error class="alert alert-error" role="alert">
              {{error}}
          </div>
      </div>
  </div>
  <div class="container row">
      <div class="col-md-6">
          <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
              name="name" />
      </div>
      <div class="col-md-6">
          <input type="button" (click)="getImage()" value="Get Image">
      </div>
  </div>
  <div class="container row">
      <div class="col-md-12">
          <div *ngIf=retrievedImage>
              <img [src]='retrievedImage' height="400" width="400" style="margin: 10px;">
          </div>
      </div>
  </div>